flask>=2.0.0
flask-sqlalchemy>=3.0.0
flask-jwt-extended==4.5.3
flask-migrate>=4.0.0
python-dotenv>=0.20.0
marshmallow>=4.0.0
PyJWT==2.10.1
pytz

#pip install --upgrade Flask-JWT-Extended==4.5.3 PyJWT==2.10.1